<div class="container my-4">
  <h1 class="text-center">Contáctanos</h1>
  <br>
  
  <h3 class="text-center">Síguenos en Redes Sociales</h3>
  <div class="social-links mb-3 text-center">
      <a href="https://facebook.com" target="_blank" class="btn btn-outline-primary me-2">
          <img src="assets/img/facebook.webp" alt="Facebook" style="width: 25px; height: 25px; margin-right: 5px;" />
          Facebook
      </a>
      <a href="https://instagram.com" target="_blank" class="btn btn-outline-danger me-2">
          <img src="assets/img/instagram.png" alt="Instagram" style="width: 35px; height: 20px; margin-right: 5px;" />
          Instagram
      </a>
      <a href="https://wa.me/1234567890" target="_blank" class="btn btn-outline-success">
          <img src="assets/img/WhatsApp.png" alt="WhatsApp" style="width: 25px; height: 25px; margin-right: 5px;" />
          WhatsApp
      </a>
  </div>

  <h3>Formulario de Contacto</h3>
  <form>
      <div class="mb-3">
        <p class="mb-0">Nombre</p>
          <input type="text" class="form-control" placeholder="Nombre" required />
      </div>
      <div class="mb-3">
        <p class="mb-0">Apellido</p>
          <input type="text" class="form-control" placeholder="Apellido" required />
      </div>
      <div class="mb-3">
        <p class="mb-0">Correo Electronico</p>
          <input type="email" class="form-control" placeholder="Correo Electrónico" required />
      </div>
      <div class="mb-3">
        <p class="mb-0">Telefono</p>
          <input type="tel" class="form-control" placeholder="Teléfono" required />
      </div>
      <div class="mb-3">
        <p class="mb-0">Mensaje</p>
          <textarea class="form-control" placeholder="Mensaje" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>