<div id="ubicanos" class="my-4">
    <h1 class="text-center">Ubícanos</h1>

    <h3 class="text-center">Nuestra Ubicación</h3>
    <div class="text-center">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509704!2d-70.30826558470452!3d-18.474460479491195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93c4b82c1558e02b%3A0x1a2d0a62c90362e3!2sArica%2C%20Chile!5e0!3m2!1sen!2sus!4v1611741111247!5m2!1sen!2sus" 
            width="100%" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
        </iframe>
    </div>

    <h3 class="text-center mt-4">Contáctanos</h3>
    <p class="text-center">Si necesitas más información, déjanos tu mensaje:</p>
    <form class="my-4">
        <div class="form-group">
            <label for="nombreUbicacion">Nombre</label>
            <input type="text" class="form-control" id="nombreUbicacion" placeholder="Ingrese su nombre" required>
        </div>
        <div class="form-group">
            <label for="apellidoUbicacion">Apellido</label>
            <input type="text" class="form-control" id="apellidoUbicacion" placeholder="Ingrese su apellido" required>
        </div>
        <div class="form-group">
            <label for="mensajeUbicacion">Mensaje</label>
            <textarea class="form-control" id="mensajeUbicacion" rows="3" placeholder="Escriba su mensaje" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
