<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenidos a Mercy Developer</h1>
    <p class="lead">Tu solución confiable para el servicio técnico informático.</p>
    <img src="assets/img/servicio.webp" width="1700" height="800" alt="Servicios">
    <hr class="my-4">
    <p>Estamos aquí para ayudarte a mantener tu equipo en perfecto estado. Nos dedicamos a ofrecer un servicio de calidad para satisfacer todas tus necesidades tecnológicas.</p>
</div>

<div class="container my-4">
    
    <div class="text-center mb-4">
      <h2>Nuestros Servicios</h2>
      <p>A continuación, te presentamos algunas de nuestras especialidades:</p>
    </div>

    <div class="container my-4">
        <h2>Nuestros Servicios</h2>
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%;">
              <img src="assets/img/Instalación de Sistemas Operativos.jpg" class="card-img-top" alt="Instalación de Sistemas Operativos"> 
              <div class="card-body">
                <h5 class="card-title">Instalación de Sistemas Operativos</h5>
                <p class="card-text">Instalamos y configuramos los sistemas operativos más populares para que tu equipo esté listo para funcionar.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%;">
              <img src="assets/img/Instalación de Software de Oficina.jpg" class="card-img-top" alt="Instalación de Software de Oficina"> 
              <div class="card-body">
                <h5 class="card-title">Instalación de Software de Oficina</h5>
                <p class="card-text">Te ayudamos a instalar y configurar el software de oficina que necesitas para ser productivo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%;">
              <img src="assets/img/Reparación de Computadoras.jpg" class="card-img-top" alt="Reparación de Computadoras"> 
              <div class="card-body">
                <h5 class="card-title">Reparación de Computadoras</h5>
                <p class="card-text">Realizamos diagnósticos y reparaciones para asegurar que tu equipo funcione como nuevo.</p>
              </div>
            </div>
          </div>
        </div>
     </div>